{% extends 'user_page/index.html' %}

{% block title %}
    <title> Bio </title>
{% endblock %}

{% block content %}
    <h2>Update your Bio {{ request.session.user_name }}</h2>
    
    <form action="" method="POST">
        <div class='form-group'>
            <label for="profile_bio">Bio: </label><br>
            <textarea name="profile_bio" id="" cols="30" rows="5"></textarea>
        </div>
        <br>
        <div class='form-group'>
            <label for="profile_birthday">Birthday: </label>
            <input type="date" name="profile_birthday">
        </div>
        <br>
        <div class='form-group'>
            <label for="profile_home_town">Where did you grow up?</label>
            <input type="text" name="profile_home_town" id="">
        </div>
        <br>
        <div class='form-group'>
            <label for="profile_hobbies">What are your hobbies?</label><br>
            <textarea name="profile_hobbies" id="" cols="30" rows="5"></textarea>
        </div>
        <br>
        <div class='form-group'>
            <label for="profile_favorite_genre">What's your favorite genre of music?</label>
            <select name="profile_favorite_genre" id="">
                <option value="rap">Rap</option>
                <option value="country">Country</option>
                <option value="indie">Indie</option>
                <option value="soul">Soul</option>
                <option value="hiphop">HipHop</option>
                <option value="rock">Rock</option>
                <option value="everything">Everything</option>
                <option value="hate_music">I hate music</option>
            </select>
        </div>
        <input type="submit" name="" value="Update Bio" id="">
    </form>

{% endblock %}