<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
    <title>User Page</title>
    {% endblock %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    <nav>
        <a href="{% url 'home:index' %}">Home</a>

        {% if request.session.logged_in %}
            <a href="{% url 'logReg:logout' %}">Logout</a>
        {% endif %}

    </nav>
    
    
    <header>
        <h4>{{ request.session.user_name }}</h4>
        <br>
        <img id='profile_pic' src="{% static 'images/sample_profile.png' %}" alt="">
    </header>

    {% block content %}

    <main>
        <div class='bio'>
            <h3>A little about me</h3>
            {% if bio %}
                {% for i in bio %}
                    <p>Bio: {{ i.profile_bio }}</p>
                    <p>Birthday: {{ i.profile_birthday }}</p>
                    <p>My Home Town: {{ i.profile_home_town }} </p>
                    <p>My Hobbies are: {{ i.profile_hobbies }} </p>
                    <p>My Favorite music is: {{ i.profile_favorite_genre }} </p>
                {% endfor %}
            {% endif %}
            <a href="{% url 'user_page:edit_bio' %}">Edit Bio</a> <br>
        </div>
        
        <div id='profile_thought_box'>
            <h3>These are my thoughts...</h3><br>
            {% if user_thoughts %} 
                {% for thought in user_thoughts %}
                    <p>  -{{ thought.content }} </p>
                {% endfor %} 
            {% endif %}
        </div>

    </main>

    {% endblock %}
    <br>
    <hr>
    
</body>
</html>